// Import the initial variables (only needed if you want to customise this file):
@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/functions';

// Your customisations go here...
$input-focus-border-color: none;
$input-focus-color: none;
$input-focus-box-shadow-color: none;

// Import the rest of Bulma:
@import 'bulma/bulma.sass';

body {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  background: #fcc600;
  min-height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  position: relative;
}

.movie {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 20px;
}

.movie__recommendations {
  overflow-y: scroll;
  height: 150vh;
}

//------//

.movie__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.movie__recommendations {
  display: flex;
  flex-direction: column;
  width: 250px;
}
//----//
.nav__links {
  justify-content: space-around;
}

.form {
  flex: 1;
}

.movieCard {
  background: rgba(0, 0, 0, 0.9);
  padding: 3px;
}

.movieCard__info__title {
  height: 75px;
  margin-top: 10px;
  background: -webkit-linear-gradient(60deg, #ff0000, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.movieCard__info__genres {
  width: 220px;
  flex-wrap: wrap;
}

.movieCard__info__genres > * {
  margin: 3px;
}

.btn-favorite {
  position: absolute;
  bottom: 20px;
  right: 20px;
  :hover {
    cursor: pointer;
  }
}

.card-image:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(39, 36, 47, 0.1);
}

.hero {
  background-color: cornflowerblue;
  margin-left: -70px;
  margin-right: -70px;
  margin-top: 25px;
  padding: 20px 0px;
}

.pagination-previous:hover,
.pagination-next:hover {
  cursor: pointer;
}

.buttons {
  padding: 20px;
}

.loading {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
